<div id="homePage">
    <!-- ===== Start Header ===== -->
        <header style="background-image:url(images/backgrounds/1.jpg);">
        	<!-- Overlay -->
        	<span class="overlay"></span>
            <!-- End Overlay -->
            
            
            <!-- Title -->
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-8 display-full col-center">
                    <div class="title">
                        <h1>Translator</h1>
                        <h4>Welcome to Translator</h4>
                    </div>
                </div>
            </div>
            <!-- End Title -->
        </header>
        <!-- ===== End Header ===== -->
    <div class="container">
        <form class="form-horizontal" role="form" style="margin-top: 10px">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Sentence</label>
              <div class="col-sm-10">
                <textarea class="form-control" rows="5" id="comment" placeholder="Enter text here" ng-model="sentence.word"></textarea>
              </div>
            </div>
            <button class="btn btn-primary" ng-click="ok()">Submit</button>
        </form>

        <p>Tokens: {{tokens}}</p>
        <p>Parts of Speach: {{pos}}</p>

        <div class="alert alert-warning" ng-show="warnings">
          <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Warning!</strong>
            <span ng-repeat="warning in warnings">
              {{warning.reason}}
            </span>
        </div>  
    </div>
    <div class="jumbotron">
    <div class="container">
        <video width="600" height="400" controls>
          <source src="https://s3-eu-west-1.amazonaws.com/handicaprio/videos/ASL+sign+for+AFGHANISTAN++American+Sign+Language+Dictionary.mp4" type="video/mp4">
          <source src="https://s3-eu-west-1.amazonaws.com/handicaprio/videos/ASL+sign+for+AFGHANISTAN++American+Sign+Language+Dictionary.mp4" type="video/ogg">
            </video>
        <p>Aboard | Verb </p>
        
            <a class="btn btn-default btn-md"><i class="fa fa-plus" aria-hidden="true"> Add to</i></a>
        <a class="btn btn-default btn-md"><i class="fa fa-share-alt" aria-hidden="true"></i> Share</a>
        </div>
        
    </div>
    
    
    <footer>
        	<div class="container">
            	<!-- Social Icons & Copy Rights -->
            	<div class="social-icons-copy">
                	<p>
                    	<a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                    	<a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a>
                    	<a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                    	<a href="javascript:void(0);"><i class="fa fa-behance"></i></a>
                    </p>
                    <p>&copy; 2016 <strong>Handicaprio</strong> | All rights reserved</p>
                </div>
                <!-- End Social Icons & Copy Rights -->
            </div>
        </footer>
</div>
    
    