<header class="clearfix" id="header">


  <div class="branding {{main.settings.brandingColor}}">
    <div class="outer-menu">
      <input class="checkbox-toggle" type="checkbox" />
      <div class="hamburger">
        <div></div>
      </div>
      <div class="menu">
        <div>
          <div>
            <ul>
              <li><a ui-sref="app.home">Home</a></li>
              <li><a ui-sref="app.about">About</a></li>
              <li><a ui-sref="app.translator">Translator</a></li>
              <li><a ui-sref="app.dictionary">Dictionary</a></li>
              <li><a href="">Look Up</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <a class="brand" ui-sref="app.dashboard">
      <span><strong>Handi</strong>Caprio</span>
    </a>
    <a href="javascript:;" class="offcanvas-toggle visible-xs-inline" offcanvas-sidebar><i class="fa fa-bars"></i></a>
  </div>


  <div class="search" id="main-search">
    <input type="text" class="form-control underline-input" placeholder="Search...">
  </div>




  <ul class="nav-right pull-right list-inline">
    
    
  </ul>



</header>
